.admin-navbar{
    background: linear-gradient(30deg,lightblue,lightgreen,transparent);
    height: 100vh !important;
    width: 30%;
    border: 2px solid blue;
    box-shadow: 2px 2px 2px 1px blue;
}

.admin-navbar .nav-link:hover{
    background: blue;
    color: white;
}